

body {
  margin: 1em 10%;
  background-image: url(../img/background.gif);
  background-attachment: fixed;
  background-position: top left;
  background-repeat: repeat-x;
  position: relative;


}
header {
  background-image: url(../img/guitarist.gif);
  background-repeat: no-repeat;
  background-position: bottom right;
  border-width: .1em;
  border-style: solid;
  border-bottom-width: 0;
  position: relative;
  z-index: 1;
  width: 100%;
}

h1 {font-family: 'Open Sans', sans-serif;}

li { list-style: none;}

div.body-container {
  margin: auto;
}
div.container {
  margin: 0px auto;
  width: 100%;
  min-height: 100vh;
  border-width: .1em;
  border-style: solid;
  border-top-width: 0;
  line-height: 1.8em;

}
#about header {
  background-image: url(../img/lineup.gif);
}
#photos header {
  background-image: url(../img/basshead.gif);
}
#live header {
  background-image: url(../img/bassist.gif);
}
#contact header {
  background-image: url(../img/drummer.gif);
}
div.container img {
  border-width: .1em;
  border-style: solid;
  outline-width: .1em;
  outline-style: solid;
}
ul#imagegallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: transparent;
}


#slideshow {
  width: 150px;
  height: 150px;
  position: relative;
  top: 0;
  left: 25%;
  overflow: hidden;
  margin: 50px 0px;
}
img#frame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  border-width: 0;
  outline-width: 0;
}
img#preview {
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0;
  outline-width: 0;
}

img#placeholder{
  align-self: center;
}

div#gallery {
  margin-bottom: 35px;
}

div.section {
  margin: 55px auto;

}

dl {
  overflow: hidden;
}
dt {
  float: left;
}
dd {
  float: left;
}
label {
  display: block;
}
fieldset {
  border: 0;
}
td {
  padding: .5em 3em;
}

footer {
  background: linear-gradient(rgb(159, 162, 182),rgb(89, 86, 107));
  text-align: center;
  p {
    padding: 15px;
    line-height: .75rem;
    font-size: 1rem;
    color: #445;
  }
}

// BLOG
article {
  background-color: #ec8;
  padding: 0%;
  padding-top: 0%;
  margin: 2%;
  h2 {
    padding: 3%;
    width: 100%;
    background: linear-gradient(rgb(159, 162, 182),rgb(89, 86, 107));
   }
  a {
    color: rgb(63, 61, 75);
    // background-color: transparent;

  }
  p {
    margin: 0px;
    padding: 0% 3%;
  }
  }
.excerpt {
  margin: 0px;
  padding: 2%;
  p {
  }
}

//ABOUT
div.section, div.intro{
  background-color: rgb(255, 255, 255);
  padding: 15px;
  h2, h1 {
    background-color: rgb(159, 162, 182);
    padding: 10px;
    width: 100%;
    margin-top: -5px;
  }
  p {
    margin: 0px 5px;
  }
}



ul#internalnav {
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
  padding: 0px;
  margin: 25px auto;
  background-color: transparent;


  li {
  font-family: 'Bowlby One SC', cursive;
  font: 5.8em;
  color: rgb(63, 61, 75);
  list-style: none;
  a {
    padding: 10px;
  }
}
}

//photos
div#bwg_container1_0 {
  width: 100%;
  margin: 0px;
}

p#description {
  text-align: center;
}
img#placeholder {
  margin: auto;
  text-align: center;
}
div#gallery {
  text-align: center;
}

//FRONT_PAGE

div.intro {
  margin-top: 15px;
}

p#intro {
  max-width: 500px;
  margin: auto;
  line-height: 45px;
}



.container {
  color: #223;
  background-color: #edc;
  border-color: #667;
}
//contact
.wpcf7-form {
  width: 50%;
  margin: auto;
}
.wpcf7-form-control.wpcf7-text, .wpcf7-form-control.wpcf7-textarea {
  width: 100%;
}

.gigpress-listing {
  color: white;
  display: flex;
  flex-direction: column;
  li {

  }
}
