
@media (max-width: 990px) {
  header {
    background-image: none;
    text-align: center;
  }
  div#exCollapsingNavbar {
    ul {
      margin: auto;
    }
    li {
      width: 100%;
    }
  }

  //NAVIGATION TOGGLER
  button.navbar-toggler {
   position: absolute;
   bottom: 10px;
   right: 10px;
   z-index: 9999999 !important;
   display: block;
   color: white !important;
   padding: 0px;
   font-size: .7rem;


  }
}
@media (max-width: 600px) {
  html {
    padding:0px;
  }
  body {
    margin: 0px;
  }
  header {
    margin: 0px;
  }
  div.body-container {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  //contact
  .wpcf7-form {
    width: 100%;
    margin: auto;
  }
  .wpcf7-form-control.wpcf7-text, .wpcf7-form-control.wpcf7-textarea {
    width: 100%;
  }


}
