@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Catamaran');

body {
  font-size: 100%;
  font-family: 'Catamaran', sans-serif;
}
body * {

}
a {
  font-weight: bold;
  text-decoration: none;
}
.nav.navbar-nav {
  font-family: 'Bowlby One SC', cursive;
  font-size:1.2em;
}

.container {
  line-height: 1.8em;
}
.container p {
  margin: 1em 0;
}
h1 {
    font-family: 'Bowlby One SC', cursive;
    font: 5.4em;
    color: rgb(63, 61, 75);
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}
h2 {
    font-family: 'Bowlby One SC', cursive;
    font: 5.8em;
    margin-top: 1em;
    color: rgb(63, 61, 75);
}
h3 {
    font-family: 'Bowlby One SC', cursive;
    font: 5.4em;
    margin-top: 1em;
    color: rgb(63, 61, 75);
}
#imagegallery li {
  list-style-type: none;
}
dt {
  margin-right: 1em;
}
dd {
  margin-right: 3em;
}
textarea {
  font-family: 'Catamaran', sans-serif;
}
